Repository space-exodus/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#115 Update Discord link in README
  README.md
Labels: No C#

#118 Hisses fix
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/_Exodus/Entities/Mobs/Species/felinid.yml
Labels: No C#

#116 Insect blood for kidans
  Resources/Prototypes/_Exodus/Entities/Mobs/Species/kidan.yml
Labels: No C#

#117 Engineer fix and tweaks
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/catalog/fills/crates/engines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/devices/electronics/aas_electronic.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/structures/piping/atmospherics/special.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/grille_diagonal.yml
  Resources/Prototypes/_Exodus/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/_Exodus/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Devices/fan_electronic.yml
  Resources/Prototypes/_Exodus/Entities/Structures/Atmospheric/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipe/Construction/Graphs/utilities/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipe/Construction/structures.yml
  Resources/Prototypes/_Exodus/Recipe/Crafting/tiny_fan.yml
  Resources/Prototypes/_Exodus/tags.yml
  Resources/Textures/Exodus/Structures/Piping/Atmospherics/tiny_fan.rsi/meta.json
  Resources/Textures/Exodus/Structures/Piping/Atmospherics/tiny_fan.rsi/tinyfan-carcas-two.png
  Resources/Textures/Exodus/Structures/Piping/Atmospherics/tiny_fan.rsi/tinyfan-carcas.png
Labels: No C#, Changes: Localization, Changes: Sprites

#119 Npc factions editor for admins
  Content.Client/_Exodus/NPC/NpcFactionEui.cs
  Content.Client/_Exodus/NPC/UI/NpcFactionEditWindow.xaml
  Content.Client/_Exodus/NPC/UI/NpcFactionEditWindow.xaml.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/_Exodus/NPC/NpcFactionEui.cs
  Content.Shared/_Exodus/NPC/NpcFactionEditEuiState.cs
  Resources/Locale/ru-RU/exodus/administration/ui/npc-faction-ui.ftl
Labels: Changes: Localization, Changes: UI
