Repository space-exodus/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#55 Add rnd hardsuits to lockers
  Resources/Maps/Exodus/exodus_cluster.yml
  Resources/Maps/Exodus/exodus_saltern.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/rd.rsi/icon-flash.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/rd.rsi/meta.json
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/rd.rsi/off-equipped-HELMET.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/rd.rsi/on-equipped-HELMET.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/icon.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#59 rules correction
  Resources/ServerInfo/Exodus/Guidebook/ServerRules/Rule0.xml
  Resources/ServerInfo/Exodus/Guidebook/ServerRules/Rule1.xml
  Resources/ServerInfo/Exodus/Guidebook/ServerRules/Rule2.xml
  Resources/ServerInfo/Exodus/Guidebook/ServerRules/Rule4.xml
  Resources/ServerInfo/Exodus/Guidebook/ServerRules/Rule5.xml
Labels: No C#

#62 20.08.2024 Add new test-map-diff-check | GitHUB Action
  .github/workflows/map-diff.yml
Labels: No C#

#57 Maps update
  Resources/Maps/Exodus/Shuttles/Attacker.yml
  Resources/Maps/Exodus/Shuttles/Decimator.yml
  Resources/Maps/Exodus/Shuttles/Golovastic.yml
  Resources/Maps/Exodus/exodus_cluster.yml
  Resources/Maps/Exodus/exodus_omicron.yml
  Resources/Maps/Exodus/exodus_saltern.yml
  Resources/Prototypes/Exodus/Maps/Pools/classic.yml
  Resources/Prototypes/Exodus/Maps/exodus_omicron.yml
Labels: No C#, Changes: Map

#58 Guitar bar
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/misc/guitar_bag.ftl
  Resources/Prototypes/Exodus/Entities/Objects/Misc/guitar_bag.yml
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/closed.png
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/equipped-BACK.png
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/icon.png
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/inhand-left.png
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/inhand-right.png
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/meta.json
  Resources/Textures/Exodus/Objects/Misc/guitarbag.rsi/open.png
Labels: No C#, Changes: Localization, Changes: Sprites

#67 Add new bats for building and running project
  build.bat
  runclient-bin.bat
  runserver-bin.bat
Labels: No C#
