Repository space-exodus/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#107 Hide ears and horns of kidans and vulpkanins
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/_Exodus/Entities/Mobs/Species/kidan.yml
Labels: No C#

#108 Add weak red light to goliath
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: No C#

#111 Localization fix
  Resources/Locale/en-US/ss14-ru/prototypes/exodus/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/exodus/inject-implants/implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engineering.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/medsec_hud.yml
  Resources/Prototypes/_Exodus/Catalog/Cargo/cargo_botany.yml
Labels: No C#, Changes: Localization

#112 Admin audio panel
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Exodus/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Client/_Exodus/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml
  Content.Client/_Exodus/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml.cs
  Content.Server/_Exodus/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Server/_Exodus/Administration/UI/Audio/AdminAudioPanelSystem.cs
  Content.Server/_Exodus/Administration/UI/Audio/Commands/OpenAudioPanelCommand.cs
  Content.Shared/_Exodus/Administration/UI/Audio/AdminAudioPanelEuiState.cs
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/exodus/audio/widgets/admin-audio-panel.ftl
Labels: Changes: Localization, Changes: UI
