Repository space-exodus/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#74 Make tests run for development branch v2
  .github/workflows/build-map-renderer.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: No C#

#77 Add greenshift to presets vote
  Resources/Prototypes/game_presets.yml
Labels: No C#

#85 Add new emotes sounds for reptilians
  Resources/Audio/Exodus/Voice/Reptilian/attributions.yml
  Resources/Audio/Exodus/Voice/Reptilian/f_scream.ogg
  Resources/Audio/Exodus/Voice/Reptilian/f_scream2.ogg
  Resources/Audio/Exodus/Voice/Reptilian/f_sneeze.ogg
  Resources/Audio/Exodus/Voice/Reptilian/m_scream.ogg
  Resources/Audio/Exodus/Voice/Reptilian/m_scream2.ogg
  Resources/Audio/Exodus/Voice/Reptilian/m_sneeze.ogg
  Resources/Audio/Exodus/Voice/Reptilian/roar.ogg
  Resources/Audio/Exodus/Voice/Reptilian/roar2.ogg
  Resources/Audio/Exodus/Voice/Reptilian/roar3.ogg
  Resources/Audio/Exodus/Voice/Reptilian/rumble.ogg
  Resources/Audio/Exodus/Voice/Reptilian/rumble2.ogg
  Resources/Audio/Exodus/Voice/Reptilian/threat.ogg
  Resources/Audio/Exodus/Voice/Reptilian/threat2.ogg
  Resources/Audio/Exodus/Voice/Reptilian/whip.ogg
  Resources/Audio/Exodus/Voice/Reptilian/whip_short.ogg
  Resources/Locale/ru-RU/exodus/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Exodus/SoundCollections/emotes.yml
  Resources/Prototypes/_Exodus/Voice/speech_emotes.yml
Labels: No C#, Changes: Localization

#86 Fix emote sounds error with reptilian's scream
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#88 Fix felinids speed and organs
  Resources/Prototypes/_Exodus/Body/Parts/felinid.yml
  Resources/Prototypes/_Exodus/Body/Prototypes/felinid.yml
  Resources/Prototypes/_Exodus/Entities/Mobs/Species/felinid.yml
Labels: No C#

#70 Kirieshki
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/exodus/flavors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/flavors.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/_Exodus/Entities/Consumable/Food/snacks.yml
  Resources/Prototypes/_Exodus/Flavors/flavors.yml
  Resources/Textures/Exodus/Objects/Consumable/Food/kiriehka.rsi/kirieshki-closed.png
  Resources/Textures/Exodus/Objects/Consumable/Food/kiriehka.rsi/kirieshki-empty.png
  Resources/Textures/Exodus/Objects/Consumable/Food/kiriehka.rsi/kirieshki-open.png
  Resources/Textures/Exodus/Objects/Consumable/Food/kiriehka.rsi/meta.json
Labels: No C#, Changes: Localization, Changes: Sprites
