Repository space-exodus/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#223 Echo things delete
  Resources/Locale/en-US/stack/stacks.ftl
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/xenos.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/xenoresin.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/migration.yml
Labels: Changes: Localization, S: Untriaged, Changes: No C#, size/L, S: Needs Review

#229 Better chameleon
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Exodus/Roles/Jobs/CentCom/blueshield_officer.yml
  Resources/Prototypes/_Exodus/Roles/Jobs/CentCom/death_squad.yml
  Resources/Prototypes/_Exodus/Roles/Jobs/Security/brigmedic.yml
Labels: S: Untriaged, Changes: No C#, size/M

#225 Naked fix
  Resources/Prototypes/Shaders/displacement.yml
Labels: size/S, Changes: No C#, S: Needs Review

#228 ExplosionResistance Add
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/Back/satchel.yml
Labels: S: Untriaged, Changes: No C#, S: Needs Review

#233 traveler's cloak add
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Prototypes/_Exodus/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/equipped-NECK-reptilian.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/equipped-NECK-vox.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/equipped-NECK.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/black_traveler's_cloak.rsi/meta.json
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/equipped-NECK-reptilian.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/equipped-NECK-vox.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/equipped-NECK.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/gold_traveler's_cloak.rsi/meta.json
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/equipped-NECK-reptilian.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/equipped-NECK-vox.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/equipped-NECK.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/Neck/Cloaks/red_traveler's_cloak.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, S: Untriaged, Changes: No C#, size/M, S: Needs Review

#232 Burriness Accent
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/_Exodus/Speech/Components/BurrinessAccentComponent.cs
  Content.Server/_Exodus/Speech/EntitySystems/BurrinessAccentSystem.cs
  Resources/Locale/ru-RU/exodus/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/_Exodus/Traits/speech.yml
Labels: Changes: Localization, S: Untriaged, size/S, S: Needs Review

#241 ghost emotions remove
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/_Exodus/Voice/speech_emotes.yml
Labels: S: Untriaged, size/S, Changes: No C#
