Repository space-exodus/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#166 fix(upstream): fix kidan mineral resonance amd etc
  Content.Client/_Exodus/Mining/MiningScannerViewerSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/_Exodus/Mining/MiningScannerSystem.cs
  Content.Server/_Exodus/Mining/MiningScannerViewerSystem.cs
  Content.Server/_Exodus/Traits/Species/MineralResonance/MineralResonanceSystem.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/_Exodus/Mining/Components/MiningScannerComponent.cs
  Content.Shared/_Exodus/Mining/Components/MiningScannerUserComponent.cs
  Content.Shared/_Exodus/Mining/Components/MiningScannerViewable.cs
  Content.Shared/_Exodus/Mining/Components/MiningScannerViewerComponent.cs
  Content.Shared/_Exodus/Mining/SharedMiningScannerSystem.cs
  Content.Shared/_Exodus/Mining/SharedMiningScannerViewerSystem.cs
  Content.Shared/_Exodus/Traits/Species/SensitiveEyes/SensitiveEyesComponent.cs
  Resources/Prototypes/_Exodus/Entities/Mobs/Species/new_kidan.yml
  Resources/Prototypes/_Exodus/Voice/speech_emotes.yml
Labels: S: Untriaged, size/M

#168 (upstream) delete some things
  Resources/Audio/Exodus/Items/Toys/attributions.yml
  Resources/Audio/Exodus/Items/Toys/ceaser.ogg
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/fun/plushie.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/structures/shuttles/posters.ftl
  Resources/Prototypes/_Exodus/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Fun/plushie.yml
  Resources/Prototypes/_Exodus/Entities/Structures/Wallmounts/Sings/poster.yml
  Resources/Textures/Exodus/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Exodus/Objects/Fun/toys.rsi/plush_ceaser.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/collapsed.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/forward.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/meta.json
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/notclear.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/notconnect.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/notopen.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/throwbins.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/tocull.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/towork.png
  Resources/Textures/Exodus/Structures/Wallmount/miner_posters.rsi/withbelt.png
  Resources/Textures/Exodus/Structures/Wallmount/posters.rsi/meta.json
  Resources/Textures/Exodus/Structures/Wallmount/posters.rsi/random_miner.png
  Resources/migration.yml
Labels: S: Untriaged, size/M

#171 (upstream) Tatari... Ooops, Tajaran delete
  Resources/Prototypes/Corvax/Entities/Mobs/Player/tajaran.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/Corvax/Species/tajaran.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Exodus/Entities/Mobs/Player/humanoid.yml
Labels: Changes: No C#, size/M, S: Approved, T: Cleanup, Branch: Upstream, P3: Standard

#175 Admins Teleporters
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/devices/teleporters.ftl
  Resources/Prototypes/_Exodus/Entities/Objects/Devices/teleporters.yml
Labels: Changes: Localization, Changes: No C#, size/M, S: Approved, T: New Feature, Branch: Master, P3: Standard

#174 Hardsuit and armor tweak
  Resources/Audio/Exodus/Clothing/attributions.yml
  Resources/Audio/Exodus/Clothing/radio_equip.ogg
  Resources/Audio/Exodus/Clothing/radio_equip_2.ogg
  Resources/Audio/Exodus/Clothing/radio_equip_3.ogg
  Resources/Locale/ru-RU/exodus/clothing/hardsuit.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/OuterClothing/vests.yml
Labels: Changes: Localization, size/S, Changes: No C#, S: Approved, T: New Feature, Branch: Master, P3: Standard

#172 Better Job Hiring
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Exodus/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: No C#, size/M, S: Approved, S: Conceptual Approval, T: New Feature, Branch: Master, P3: Standard

#170 Door remote tweaks
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/devices/door_remote.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/_Exodus/Access/engineering.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Devices/door_remote.yml
Labels: Changes: Localization, size/S, Changes: No C#, S: Frozen, T: New Feature, Branch: Master, P3: Standard

#169 (upstream) Food from... Kidan
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/baked/cake.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/meal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/flavors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/nutrion/components/food-sequence.ftl
  Resources/Prototypes/_Exodus/Entities/Consumable/Food/meat.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Exodus/Flavors/flavors.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/Graphs/clothing/maximal_salvage_harsuit.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/Graphs/utilities/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/food/steak.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/structures.yml
  Resources/Prototypes/_Exodus/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_Exodus/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Exodus/Recipes/Crafting/sunflower_snake.yml
  Resources/Prototypes/_Exodus/Recipes/Crafting/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipes/Lathes/medical.yml
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/kidan-cake-slice.png
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/kidan-cake.png
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/bowl.rsi/kidan-soup.png
  Resources/Textures/Exodus/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/burger.rsi/kidan.png
  Resources/Textures/Exodus/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/bbq-meat.png
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/kidan-wonton.png
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, Changes: No C#, size/M, S: Approved, T: Cleanup, T: New Feature, Branch: Master, P3: Standard

#178 I fucked up
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/baked/cake.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/meal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/meat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/consumable/food/soup.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/flavors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/nutrion/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/_Exodus/Access/engineering.yml
  Resources/Prototypes/_Exodus/Entities/Consumable/Food/meat.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/_Exodus/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/_Exodus/Flavors/flavors.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/Graphs/clothing/maximal_salvage_harsuit.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/Graphs/utilities/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/clothing.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/food/steak.yml
  Resources/Prototypes/_Exodus/Recipes/Construction/structures.yml
  Resources/Prototypes/_Exodus/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_Exodus/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Exodus/Recipes/Crafting/sunflower_snake.yml
  Resources/Prototypes/_Exodus/Recipes/Crafting/tiny_fan.yml
  Resources/Prototypes/_Exodus/Recipes/Lathes/medical.yml
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/kidan-cake-slice.png
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/kidan-cake.png
  Resources/Textures/Exodus/Objects/Consumable/Food/Baked/cake.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/bowl.rsi/kidan-soup.png
  Resources/Textures/Exodus/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/burger.rsi/kidan.png
  Resources/Textures/Exodus/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/bbq-meat.png
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/kidan-wonton.png
  Resources/Textures/Exodus/Objects/Consumable/Food/meal.rsi/meta.json
Labels: S: Untriaged, size/M

#179 New Logo
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
Labels: S: Untriaged, Changes: No C#, size/XS

#180 Blueshield update
  Resources/Locale/ru-RU/exodus/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/catalog/fills/backpacks/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_Exodus/Catalog/Fills/Backpacks/satchel.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Exodus/Roles/Jobs/CentCom/blueshield_officer.yml
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/icon-flash.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/icon-unshaded.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/light-overlay.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/meta.json
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/off-equipped-HELMET.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Exodus/Clothing/Head/Hardsuits/blueshield.rsi/on-equipped-HELMET.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING-kidan.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/icon.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/OuterClothing/Hardsuits/blueshield.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, Changes: No C#, size/M, T: New Feature, Branch: Master, P3: Standard

#176 Paw gloves
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/_Exodus/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Exodus/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/black-equipped-HAND.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/black.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/black_white-equipped-HAND.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/black_white.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/brown-equipped-HAND.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/brown.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/meta.json
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/white-equipped-HAND.png
  Resources/Textures/Exodus/Clothing/Hands/Gloves/paws.rsi/white.png
Labels: Changes: Localization, Changes: Sprites, Changes: No C#, size/M, S: Conceptual Approval, S: Needs Review, T: New Feature, Branch: Master, P3: Standard

#184 New Lobby Screen
  Resources/Prototypes/_Exodus/lobby_screens.yml
  Resources/Textures/Exodus/LobbyScreens/attributions.yml
  Resources/Textures/Exodus/LobbyScreens/path.webp
  Resources/Textures/Exodus/LobbyScreens/path.webp.yml
Labels: S: Untriaged, Changes: No C#, size/XS

#188 New chem-med hud
  Resources/Locale/ru-RU/ss14-ru/prototypes/exodus/entities/clothing/eyes/hud.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Exodus/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Exodus/Recipes/Lathes/medical.yml
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/equipped-EYES-arachnid.png
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/equipped-EYES.png
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/icon.png
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/inhand-left.png
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/inhand-right.png
  Resources/Textures/Exodus/Clothing/Eyes/Hud/chem-med.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, size/S, Changes: No C#

#190 Make tests run for upstream branch
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: S: Untriaged, size/S, Changes: No C#
