Repository space-exodus/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#202 Revert "Moth displacement maps (#37231)"
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/back.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/hand.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-male.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/outerclothing.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/shoes.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, S: Needs Review

#203 Ruins and Salvage Wrecks remove
  Resources/Maps/Lavaland/basalt_ruin.yml
  Resources/Maps/Lavaland/catwalk_crossroad.yml
  Resources/Maps/Lavaland/generator_scrapyard.yml
  Resources/Maps/Lavaland/lava_farm.yml
  Resources/Maps/Lavaland/mug_factory.yml
  Resources/Maps/Lavaland/wrecked_outpost.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL, S: Needs Review

#204 Revert "Add some salvage ruins (#36814)"
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Maps/Lavaland/bait.yml
  Resources/Maps/Lavaland/bridge.yml
  Resources/Maps/Lavaland/enclosure.yml
  Resources/Maps/Lavaland/roundel.yml
  Resources/Maps/Lavaland/temple.yml
  Resources/Prototypes/Entities/Structures/Furniture/memorial.yml
Labels: Changes: Localization, Changes: Map, Changes: No C#, size/XL

#207 Vox resprite
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertchaplain.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertchaplain.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertchaplain.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertengineer.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertjanitor.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertleader.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertmedical.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/ERThelmets/ertsecurity.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertchaplain.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertchaplain.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertengineer.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertengineer.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertjanitor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertjanitor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertleader.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertleader.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertmedical.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertmedical.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertsecurity.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/ERTSuits/ertsecurity.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#, S: Needs Review

#196 [Upstream] fix hypo sprite
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/equipped-OUTERCLOTHING-kidan.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill1.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill2.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill3.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill4.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill5.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill6.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/S, Changes: No C#, S: Awaiting changes

#211 fix(upstream): fix workflow CI/CD
  .github/workflows/benchmarks.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/no-submodule-update.yml
  .github/workflows/publish-artifact.yml
  .github/workflows/publish-public-artifact.yml
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: S: Untriaged, Changes: No C#, size/M

#205 Grid roof remove
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
Labels: S: Untriaged, size/XS, S: Needs Review

#192 Reduce light bulb damage
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/service_light.yml
Labels: S: Untriaged, size/M

#219 Underwear Tweak
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_Exodus/Species/new_kidan.yml
Labels: S: Untriaged, Changes: No C#, size/M

#185 Lore species blacklist
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: No C#, size/M, S: Needs Review, Branch: Master
